*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#1d4c75,#00f2fe);
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
}

.weather-box{
  background:white;
  width:350px;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
  margin-bottom:20px;
}

.search-box{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.search-box input{
  flex:1;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
  outline:none;
}

.search-box button{
  padding:10px 15px;
  border:none;
  background:#1f4b72;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.search-box button:hover{
  background:#194b74;
}

.weather-info img{
  width:100px;
  margin:15px 0;
}

#temperature{
  font-size:40px;
  margin:10px 0;
}

.details{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}